/.env
/.idea
/.vscode
/vendor
.DS_Store
storage/**
!storage/.gitkeep
config/license.key
/node_modules
!web/index.php
!web/.htaccess
!web/web.config
web/*.js
web/*.css
web/*.png
web/*.jpg
web/*.jpeg
web/assets/*
web/mix-manifest.json
assets/static/*
