{#
/**
 * Available variables:
 * - audio: the audio file to be retrieved from craft
 * - thumbnail: the thumbnail to display for the audio file
 * - description: the description for the audio file
 */
#}

<section class="latest-content container">
    <img src="{{ thumbnail.getUrl() }}">
    <audio controls preload="auto">
{#        <source src="{{ audio.url }}" type="audio/mpeg">#}
    </audio>
    {{ description }}
</section>