{#
/**
 * Available variables:
 * - text: the text content of the jumbotron module
 */
#}

<section class="small-episode-list container">
    {% for episode in episodeList %}
        {{ episode.listItem }}<br>
    {% endfor %}
</section>
